<div class="row">
	<div class="col s6 offset-s3">
		<div class="row">
			<form action="/auth/reset" method="POST" class="col s12">
				<h2>Enter your email account</h1>

				<div class="row">
					<div class="input-field col s12">
						<input id="email" name="email" type="email" class="validate" required>
						<label for="email">Email</label>
					</div>
				</div>

				<input type="hidden" name="_csrf" value="{{csrf}}">

				{{#if error}}
					<p>{{error}}</p>
				{{/if}}

				<button type="submit" class="btn btm-primary btn-submit">Next</button>
			</form>
		</div>
	</div>
</div>