.nav-wrapper {
	padding: 0px 20px;
}

.input-field {
	margin-top: 50px;
}

.card .card-content .card-title {
	font-size: 24px;
	font-weight: 600;
}

.card .card-content p span{
	color: rgb(0, 175, 29);
	font-size: 18px;
}

.course {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.course .h1 {
	margin-bottom: 40px;
}

.course img {
	max-width: 600px;
	height: auto;
}

.course .price.big {
	font-size: 24px;
}

.row .card .actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.row .card .actions .edit {
	flex: 1;
}

.main {
	display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.06);
	border-radius: 10px;
	margin-bottom: 50px;
}

.main .image img {
	height: 64px;
	display: flex;
    margin: 10px 20px;
}

.main .course-title {
	flex: 1;
	margin-left: 20px;
	font-size: 24px;
	font-weight: 600;
}

.main .price {
	display: flex;
	align-items: center;
	margin-right: 20px;
	font-size: 18px;
	font-weight: 500;
}

.main .price .count {
	padding-right: 20px;
}

.main .price span {
	font-size: 16px;
	font-weight: 400;
	color: rgb(0, 175, 29);
}

.all-price { 
	text-align: right;
	margin-right: 20px;
	font-size: 18px;
	font-weight: 500;
}

.cart-btn {
	margin-right: 20px;
	background-color: #eb4d4b;
}