.nav-wrapper {
	padding: 0px 20px;
}

.input-field {
	margin-top: 50px;
}

.card .card-content .card-title {
	font-size: 24px;
	font-weight: 600;
}

.card .card-content p span{
	color: rgb(0, 175, 29);
	font-size: 18px;
}

.course {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.course .h1 {
	margin-bottom: 40px;
}

.course img {
	max-width: 600px;
	height: auto;
}

.course .price.big {
	font-size: 24px;
}

.row .card .actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.row .card .actions .edit {
	flex: 1;
}

.main {
	display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.06);
	border-radius: 10px;
	margin-bottom: 50px;
}

.main .image img {
	height: 64px;
	display: flex;
    margin: 10px 20px;
}

.main .course-title {
	flex: 1;
	margin-left: 20px;
	font-size: 24px;
	font-weight: 600;
}

.main .price {
	display: flex;
	align-items: center;
	margin-right: 20px;
	font-size: 18px;
	font-weight: 500;
}

.main .price .count {
	padding-right: 20px;
}

.main .price span {
	font-size: 16px;
	font-weight: 400;
	color: rgb(0, 175, 29);
}

.all-price { 
	text-align: right;
	margin-right: 20px;
	font-size: 18px;
	font-weight: 500;
}

.cart-btn {
	margin-right: 20px;
	background-color: #eb4d4b;
}

.btn-delete {
	background-color: #e74c3c;
	margin-top: 10px;
	transition: all 0.25s;
}

.btn-delete:hover {
	background-color: #dd3825;
}

.btn-submit {
	width: 85px;
}

.order-form {
	text-align: end;
	margin-top: 15px;
}

.orders-wrapper {
	flex-wrap: wrap;
	display: flex;
}

.order {
	margin-left: 20px;
	width: 300px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.order:first-child {
	margin-left: 0px;
}

.order .logo {
	height: 100px;
    width: 100px;
    display: block;
    margin: 10px auto;
}

.order span {
	font-weight: 400;
}

.order .info {
	font-weight: 600;
	background-color: rgba(0, 0,0,0.05);
    padding: 10px 20px;
    border-top: 1px solid rgba(0, 0,0,0.1);
    border-bottom: 1px solid rgba(0, 0,0,0.1);
}

.order .prod {
	text-align: center;
    font-size: 18px;
	font-weight: 600;
	padding: 10px 0px;
}

.order ol {
	margin-top: inherit;
	height: 70px;
	overflow: auto;
	margin-right: 5px;
}

.order .price {
	padding: 20px;
    font-size: 18px;
    font-weight: 600;
}

/* width */
.order ol::-webkit-scrollbar {
	width: 5px;
}
  
/* Track */
.order ol::-webkit-scrollbar-track {
	background: #f1f1f1; 
}

/* Handle */
.order ol::-webkit-scrollbar-thumb {
	background: #888; 
	border-radius: 10px;
}

/* Handle on hover */
.order ol::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

.auth .tabs {
	margin-top: 20px;
}